<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="study.jdnc7.homeworkproject.feature.board.mapper.BoardCommentMapper">
    <sql id="COMMON_PAGING_HEADER">
        select R1.* FROM(
    </sql>

    <sql id="COMMON_PAGING_TAIL">
        ) R1 LIMIT #{pageInfo.pageSize} OFFSET #{pageInfo.offset}
    </sql>

    <select id="findByParameterVo" parameterType="CommentParameterVo" resultType="java.util.ArrayList" >
        <include refid="COMMON_PAGING_HEADER"/>
        select bc.COMMENT_Id, bc.COMMENT_CONTENT, bc.CREATED_AT, u.USER_NAME as CREATED_NAME FROM BOARD_COMMENT as bc
            join USER as u on bc.CREATED_BY = u.USER_ID WHERE BOARD_ID = #{boardId};
        <include refid="COMMON_PAGING_TAIL"/>
    </select>
    <select id="findById" parameterType="Long" resultType="BoardComment" >
        select * FROM BOARD_COMMENT WHERE COMMENT_ID = #{id};
    </select>

    <select id="findTotalCount">
        select count(*) from BOARD_COMMENT;
    </select>

    <insert id="insert" parameterType="BoardComment" keyProperty="commentId" useGeneratedKeys="true">
        insert into BOARD_COMMENT (COMMENT_ID, COMMENT_CONTENT, BOARD_ID, CREATED_AT, MODIFIED_AT, CREATED_BY, MODIFIED_BY)
        VALUES (#{commentId},#{commentContent}, #{boardId}, #{createdAt}, #{modifiedAt}, #{createdBy}, #{modifiedBy});
    </insert>

    <update id="update" parameterType="BoardComment">
        update BOARD_COMMENT set COMMENT_CONTENT = #{commentContent},
                         MODIFIED_AT = #{modifiedAt},
                         MODIFIED_BY = #{modifiedBY};
    </update>

    <delete id="delete" parameterType="Long">
        delete FROM BOARD_COMMENT WHERE COMMENT_ID = #{id};
    </delete>
</mapper>