<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="study.jdnc7.homeworkproject.feature.board.mapper.BoardMapper">
    <resultMap id="resultMapBoardDetail" type="BoardDetail"> <!-- 수동맵핑과 오토맵핑의 차이, 왜 수동맵핑이 안될까 -->
        <id column="BOARD_ID" property="boardId"/>
        <result column="BOARD_TITLE" property="boardTitle" />
        <result column="BOARD_CONTENT" property="boardContent" />
        <result column="CREATED_NAME" property="createdName"/>
        <result column="MODIFIED_NAME" property="modifiedName"/>
        <result column="MODIFIED_AT" property="modifiedAt"/>
        <result column="CREATED_AT" property="createdAt"/>
        <collection property="fileInfoList" javaType="java.util.ArrayList" ofType="FileInfo">
            <result property="fileId" column="FILE_ID"/>
            <result property="fileName" column="FILE_NAME"/>
            <result property="fileOriginName" column="FILE_ORIGIN_NAME"/>
            <result property="filePath" column="FILE_PATH"/>
        </collection>
    </resultMap>

    <sql id="COMMON_PAGING_HEADER">
        select R1.* FROM (
    </sql>

    <sql id="COMMON_PAGING_TAIL">
        ) as R1 LIMIT #{pageSize} OFFSET #{offset};
    </sql>

    <select id="findAllByPageInfo" parameterType="PageInfo" resultType="BoardListItem">
        <include refid="COMMON_PAGING_HEADER"/>
        select b.BOARD_ID, b.BOARD_TITLE,
        u1.USER_NAME as CREATED_NAME,
        u2.USER_NAME as MODIFIED_NAME,
        b.MODIFIED_AT,
        b.CREATED_AT
        FROM BOARD AS b
        JOIN "USER" AS u1 ON b.CREATED_BY = u1.USER_ID
        JOIN "USER" AS u2 ON b.MODIFIED_BY = u2.USER_ID
        <trim prefix="ORDER BY">
            <if test="sortKey == 'createdAt'">CREATED_AT asc</if>
            <if test="sortKey == 'boardId'">BOARD_ID desc</if>
            <if test="direction== 'ASC'">asc</if>
            <if test="direction == 'DESC'">desc</if>
        </trim>
        <include refid="COMMON_PAGING_TAIL"/>
    </select>

    <select id="findById" parameterType="Long" resultType="Board">
        select BOARD_ID, BOARD_TITLE, BOARD_CONTENT, CREATED_AT, CREATED_BY, MODIFIED_AT, MODIFIED_BY from BOARD
    </select>

    <select id="findByIdToDetail" parameterType="Long" resultMap="resultMapBoardDetail" >
        select b.BOARD_ID AS BOARD_ID,
               b.BOARD_TITLE AS BOARD_TITLE,
               b.BOARD_CONTENT AS BOARD_CONTENT,
               u1.USER_NAME AS CREATED_NAME,
               u2.USER_NAME AS MODIFIED_NAME,
               b.MODIFIED_AT AS MODIFIED_AT,
               b.CREATED_AT AS CREATED_AT,
               fa.FILE_ID AS FILE_ID,
               fa.FILE_NAME AS FILE_NAME,
               fa.FILE_ORIGIN_NAME AS FILE_ORIGIN_NAME,
               fa.FILE_PATH AS FILE_PATH
        FROM BOARD AS b
                 JOIN "USER" AS u1 ON b.CREATED_BY = u1.USER_ID
                 JOIN "USER" AS u2 ON b.MODIFIED_BY = u2.USER_ID
            LEFT JOIN (SELECT f.FILE_ID, f.FILE_NAME, f.FILE_ORIGIN_NAME, f.FILE_PATH, bf.BOARD_ID
            FROM FILE as f LEFT JOIN BOARD_FILE as bf ON f.FILE_ID = bf.FILE_ID) AS fa ON b.BOARD_ID = fa.BOARD_ID
        WHERE b.BOARD_ID = #{id}
    </select>

    <select id="existById" parameterType="Long" resultType="Boolean">
        select exists(select * from BOARD where BOARD_ID = #{boardId})
    </select>

    <insert id="insert" parameterType="Board" keyProperty="boardId" useGeneratedKeys="true">
        insert into BOARD (BOARD_TITLE, BOARD_CONTENT, VISIBILITY, CREATED_AT, CREATED_BY, MODIFIED_BY, MODIFIED_AT)
        VALUES (#{boardTitle}, #{boardContent}, #{visibility}, #{createdAt}, #{createdBy}, #{modifiedBy}, #{modifiedAt})
    </insert>

    <update id="update" parameterType="Board" >
        update BOARD set BOARD_TITLE = #{boardTitle}, BOARD_CONTENT = #{boardContent},
                         VISIBILITY = #{visibility}, CREATED_AT = #{createdAt},
                         CREATED_BY = #{createdBy}, MODIFIED_AT = #{modifiedAt},
                         MODIFIED_BY = #{modifiedBy}
        WHERE BOARD_ID = #{boardId}
    </update>

    <update id="unVisible" parameterType="Long" >
        update BOARD set VISIBILITY = 0
        WHERE BOARD_ID = #{id}
    </update>

    <delete id="delete" parameterType="Long">
        delete from BOARD where BOARD_ID = #{id}
    </delete>


</mapper>
