<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="study.jdnc7.homeworkproject.feature.board.model.dto.BoardDto$Detail" alias="BoardDetail"/>
        <typeAlias type="study.jdnc7.homeworkproject.feature.board.model.dto.BoardDto$ListItem" alias="BoardListItem"/>
        <package name="study.jdnc7.homeworkproject.feature"/>
    </typeAliases>
</configuration>