<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="study.jdnc7.homeworkproject.domain.board.mapper.BoardMapper">

    <sql id="COMMON_PAGING_HEADER">
        select R1.* FROM(
    </sql>

    <sql id="COMMON_PAGING_TAIL">
        ) R1 LIMIT #{pageable.getPageNumber()}} OFFSET #{pageable.getPageSize()}
    </sql>


    <insert id="insert" parameterType="Board" keyProperty="boardId" useGeneratedKeys="true">
        insert into BOARD (BOARD_TITLE, BOARD_CONTENT, VISIBILITY) VALUES (#{boardTitle}, #{boardContent}, #{visibility})
    </insert>

    <update id="update" parameterType="Board" >
        update BOARD set BOARD_TITLE = #{boardTitle}, BOARD_CONTENT = #{boardContent}, VISIBILITY = #{visibility}
        WHERE BOARD_ID = #{boardId}
    </update>

    <update id="unVisible" parameterType="Long" >
        update BOARD set VISIBILITY = 0
        WHERE BOARD_ID = #{id}
    </update>

    <delete id="delete" parameterType="Long">
        delete from BOARD where BOARD_ID = #{id}
    </delete>

    <select id="findByPageable" parameterType="org.springframework.data.domain.Pageable" resultType="java.util.ArrayList">
        <include refid="COMMON_PAGING_HEADER"/>
        select BOARD_ID, BOARD_TITLE from BOARD
        <include refid="COMMON_PAGING_TAIL"/>
    </select>

    <select id="findById" parameterType="Long" resultType="BoardDetail">
        select BOARD_ID, BOARD_TITLE, BOARD_CONTENT from BOARD
    </select>

    <select id="existById" parameterType="Long" resultType="Boolean">
        select exists(select * from BOARD where BOARD_ID = #{boardId})
    </select>
</mapper>
